@page "/Comprobante"

<div style="display: flex; flex-direction: column; min-height: 100vh;">
    <VoucherHeader />

    <MudPaper Elevation="0" Class="pa-4" Style="background-color: var(--mud-palette-background); flex: 1;">
        <VoucherBody />
    </MudPaper>

    <VoucherStatusBar />
</div>